* {
    margin: 0;
}

body {
    margin: 0;
}

.wrapper {
    background-color: #2F2F2F;
    padding-top: 132px;
    padding-bottom: 33.5vh;
}

.wrapper-text {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.wrapper-text__bg {
    font: 900 200px/38px 'gotham_problack', arial, helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.06);
}

.wrapper-text__title {
    font: 800 45px/38px 'DIN2014Narrow', arial, helvetica, sans-serif;
    color: #fff;
    position: relative;
    padding-top: 90px;
    bottom: 133px;
}

.wrap {
    background-color: #2F2F2F;
    max-width: 600px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 14px 31px 11px 30px;
}

.logo {
    width: 150px;
    height: 20px;
    background: no-repeat url(img/logo.svg);
    margin-right: 325px;
}

.lk {
    width: 21px;
    height: 21px;
    background: no-repeat url(img/lk.svg);
}

.menu {
    width: 22px;
    height: 22px;
    background: no-repeat url(img/menu.svg);
}

.banner {
    display: flex;
    background-color: #c42d2c;
    padding: 0 0 0 30px;
}

.banner-wrap {
    display: flex;
    padding-top: 30px;
}

.banner-content {
    background-color: #A60229;
    border-radius: 20px;
    max-width: 354px;
    height: 108px;
    padding: 13px 0 0 16px;
}

.banner-content__title {
    font: 700 14px/38px 'verdanabold', arial, helvetica, sans-serif;
    color: #fff;
    letter-spacing: 0.22vw;
    margin-bottom: -3px;
}

.banner-content__text {
    font: 400 13px/16px 'verdanaregular', arial, helvetica, sans-serif;
    color: #fff;
    letter-spacing: 0.1vw;
}

.banner-triangle {
    width: 0;
    height: 0;
    border-bottom: 27px solid #A60229;
    border-right: 20px solid transparent;
    padding-top: 45px;
    position: relative;
    z-index: 1;
}

.banner-img {
    position: relative;
    right: 10px;
    padding-top: 15px;
}

.table {
    background-color: #c42d2c;
}

.table-bg {
    background: no-repeat center top 36px url(img/bg.png);
}

.table-head {
    display: flex;
    justify-content: start;
    background-color: #7EB928;
    width: 90%;
    margin: auto;
    font: 400 12px/38px 'Roboto', arial, helvetica, sans-serif;
    color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 6px 0;
}

.table-head__product {
    padding-left: 14px;
    margin-right: 287px;
}

.table-head__quantity {
    margin-right: 17px;
}

.table-body {
    width: 90%;
    margin: auto;
    background-color: #fff;
}

.product-1 {
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #C4C4C4;
    color: #353535;
    padding: 15px 0 0 15px;
}

.product-1__img {
    width: 94px;
    height: 59px;
    background: no-repeat url(img/tv.jpg);
    background-size: contain;
    margin-right: 24px;
}

.product-1__link {
    font: 400 12px/17px 'verdanaregular', arial, helvetica, sans-serif;
    color: #353535;
    max-width: 180px;
    padding: 11px 0 0 0;
    margin-right: 59px;
}

.product-1__link_tv {
    display: inline;
    margin: 0;
    letter-spacing: 0.5px;
}

.product-1__quantity {
    font: 400 12px/25px 'verdanaregular', arial, helvetica, sans-serif;
    padding: 15px 0 0 0;
    margin-right: 53px;
}

.product-1__price {
    font: 700 12px/25px 'verdanabold', arial, helvetica, sans-serif;
    padding: 15px 0 0 0;
}

.product-2 {
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #C4C4C4;
    color: #353535;
    padding: 28px 0 0 10px;
}

.product-2__img {
    width: 99px;
    height: 59px;
    background: no-repeat url(img/vacuum.jpg);
    background-size: contain;
    margin-right: 24px;
}

.product-2__link {
    font: 400 12px/17px 'verdanaregular', arial, helvetica, sans-serif;
    color: #353535;
    max-width: 180px;
    padding: 9px 0 0 0;
    margin-right: 59px;
}

.product-2__link_vc {
    display: inline;
    padding: 0 5px 0 0;
    margin: 0;
    letter-spacing: 0.5px;
}

.product-2__quantity {
    font: 400 12px/25px 'verdanaregular', arial, helvetica, sans-serif;
    padding: 13px 0 0 0;
    margin-right: 53px;
}

.product-2__price {
    font: 700 12px/25px 'verdanabold', arial, helvetica, sans-serif;
    padding: 12px 0 0 0;
}

.delivery {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;
    font: 700 12px/25px 'verdanabold', arial, helvetica, sans-serif;
    color: #353535;
    padding: 20px 0 0 0;
}

.delivery__text {
    display: block;
    background: no-repeat 15px url(img/car.svg);
    padding-left: 46px;
    letter-spacing: 1px;
}

.delivery__price {
    margin-right: 65px;
}

.payment {
    display: flex;
    justify-content: space-between;
    font: 700 17px/25px 'verdanabold', arial, helvetica, sans-serif;
    color: #393D41;
    padding: 19px 0 10px 15px;
}

.payment__text {
    letter-spacing: 1.5px;
}

.payment__price {
    margin-right: 21px;
}

.table-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    border-radius: 0 0 8px 8px;
    background-color: #F3F3F3;
    padding-bottom: 9px;
}

.persona-text {
    background: no-repeat left 33px top 22px url(img/persona.svg);
    padding: 14px 0 0 74px;
    width: 170px;
}

.persona-text__title {
    font: 700 12px/25px 'verdanabold', arial, helvetica, sans-serif;
    color: #393D41;
    letter-spacing: 1.2px;
    margin-bottom: -8px;
}

.persona-text__name {
    font: 400 12px/25px 'verdanaregular', arial, helvetica, sans-serif;
    color: #393D41;
    letter-spacing: 0.7px;
    margin-bottom: -2px;
}

.persona-text__phone {
    display: inline;
    font: 400 11px/12px 'verdanaregular', arial, helvetica, sans-serif;
    color: #353535;
    opacity: 0.54;
    letter-spacing: 0.6px;
}

.persona-text__phone_eng,
.persona-text__phone_engl {
    letter-spacing: 0.1px;
}

.persona-text__phone_engl {
    position: relative;
    top: -5px;
}

.persona-text__phone_zak {
    position: relative;
    top: -10px;
}

.auto-text {
    background: no-repeat left top 22px url(img/delivery.svg);
    width: 228px;
    padding: 14px 0 0 51px;
}

.auto-text__title {
    font: 700 12px/25px 'verdanabold', arial, helvetica, sans-serif;
    color: #393D41;
    letter-spacing: 1px;
    margin-bottom: -8px;
}

.auto-text__adress {
    font: 400 12px/25px 'verdanaregular', arial, helvetica, sans-serif;
    color: #393D41;
    letter-spacing: 0.5px;
    margin-bottom: -2px;
}

.auto-text__time {
    display: inline;
    font: 700 11px/12px 'verdanabold', arial, helvetica, sans-serif;
    color: rgba(53, 53, 53, 0.54);
    letter-spacing: 0.9px;
}

.auto-text__time_data {
    display: block;
    font: 400 11px/12px 'verdanaregular', arial, helvetica, sans-serif;
    color: rgba(53, 53, 53, 0.54);
    letter-spacing: normal;
    margin-bottom: -3px;
}

.auto-text__time_clock {
    display: inline;
    font: 400 11px/12px 'verdanaregular', arial, helvetica, sans-serif;
    color: rgba(53, 53, 53, 0.54);
    letter-spacing: 0.1px;
}

.bonus {
    background-color: #c42d2c;
    color: #fff;
}

.bonus-wrap {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 18px;
}

.bonus-sms__img {
    max-width: 100%;
    max-height: 139px;
}

.bonus-feedback__img {
    max-width: 100%;
    max-height: 139px;
}

.bonus__title {
    font: 700 15px/38px 'verdanabold', arial, helvetica, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: -7px;
}

.bonus__subtitle {
    font: 400 15px/38px 'verdanaregular', arial, helvetica, sans-serif;
    text-align: center;
    letter-spacing: 0.6px;
    padding-bottom: 15px;
}

.container-text {
    display: flex;
    flex-direction: column;
    background-color: #A60229;
    font: 400 13px/23px 'verdanaregular', arial, helvetica, sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 20px;
}

.container-text__first {
    letter-spacing: 0.8px;
    width: 95%;
    margin: auto;
}

.container-text__second {
    letter-spacing: 0.6px;
    width: 95%;
    margin: auto;
}

.container-text__second_link {
    color: #fff;
}

.footer-up {
    display: flex;
    justify-content: start;
    background-color: #76BC34;
    padding: 5px 0 3px 30px;
}

.footer-up__logo {
    width: 162px;
    height: 23px;
    background: no-repeat url(img/logo2.svg);
    margin-top: 18px;
}

.link {
    display: flex;
    justify-content: center;
    padding-left: 9px;
}

.link__clock {
    width: 77px;
    height: 50px;
    background: no-repeat left url(img/clock.svg), no-repeat right url(img/clock1.svg);
    margin-right: 9px;
}

.link__price {
    width: 77px;
    height: 50px;
    background: no-repeat left url(img/card.svg), no-repeat right url(img/card1.svg);
    margin-right: 7px;
}

.link__place {
    width: 77px;
    height: 50px;
    background: no-repeat left url(img/place.svg), no-repeat right url(img/place1.svg);
    margin-right: 5px;
}

.link__bonus {
    width: 100px;
    height: 50px;
    background: no-repeat left url(img/bonus.svg), no-repeat center right 9px url(img/bonus1.svg);
}

.footer-down {
    background-color: #393e42;
}

.footer-down-wrap {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.contacts-call__text {
    font: 700 11px/23px 'verdanabold', arial, helvetica, sans-serif;
    letter-spacing: 0.9px;
    margin-bottom: 10px;
}

.contacts-call__number {
    font: 700 18px/23px 'verdanabold', arial, helvetica, sans-serif;
}

.contacts,
.nets {
    color: #fff;
    padding-top: 13px;
}

.contacts {
    margin-right: 90px;
}

.nets {
    width: 258px;
}

.nets__title {
    font: 700 11px/23px 'verdanabold', arial, helvetica, sans-serif;
    letter-spacing: 0.8px;
    padding-bottom: 10px;
}

.nets-link {
    display: flex;
    justify-content: space-between;
}

.nets-link__insta {
    width: 20px;
    height: 20px;
    background: no-repeat url(img/insta.svg);
    margin-right: 2px;
}

.nets-link__facebook {
    width: 20px;
    height: 20px;
    background: no-repeat url(img/facebook.svg);
    margin-right: -4px;
}

.nets-link__odn {
    width: 20px;
    height: 20px;
    background: no-repeat url(img/odn.svg);
    margin-right: -6px;
}

.nets-link__vk {
    width: 20px;
    height: 20px;
    background: no-repeat url(img/vk.svg);
    margin-top: 3px;
}

.nets-link__play {
    width: 20px;
    height: 20px;
    background: no-repeat url(img/play.svg);
    margin-top: 3px;
}

.footer-text {
    font: 400 9px/14px 'verdanaregular', arial, helvetica, sans-serif;
    color: #8B8E90;
    padding: 16px 0 34px 0;
    width: 95%;
}

.footer-text__container {
    width: 490px;
}

.footer-text__letter {
    display: inline;
    letter-spacing: 0.5px;
}

.footer-text__letter_link {
    color: #8B8E90;
    letter-spacing: normal;
}

.footer-text__unsubscribe {
    padding: 5px 0 24px 0;
    letter-spacing: 0.45px;
}

.footer-text__unsubscribe_link {
    color: #8B8E90;
}

.footer-text__price {
    letter-spacing: 0.5px;
}

.footer-last {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.footer-last__web {
    letter-spacing: 0.5px;
}

.footer-last__web_link {
    color: #8B8E90;
}

.footer-last__data {
    letter-spacing: 0.2px;
}

@media (min-width: 957px) {
    .wrapper-text,
    .container-text__first,
    .container-text__second,
    .footer {
        display: none;
    }
    .container-text {
        background-color: #2F2F2F;
    }
    .banner-content__title {
        letter-spacing: normal;
    }
    .banner-content__text {
        flex-wrap: nowrap;
    }
}

@media (min-width: 601px) {
    .banner-content__title {
        letter-spacing: normal;
    }
    .banner-content__text {
        flex-wrap: nowrap;
    }
}

@media (max-width: 599px) {
    .wrapper-text,
    .banner-img,
    .banner-triangle {
        display: none;
    }
    .wrapper {
        padding: 0;
    }
    .logo {
        margin-right: 35vw;
    }
    .banner {
        padding: 0 21px 0 23px;
    }
    .banner-wrap {
        margin-bottom: 20px;
    }
    .banner-content {
        height: auto;
    }
    .banner-content__title {
        line-height: 17px;
        margin-bottom: 10px;
        letter-spacing: normal;
    }
    .banner-content__text {
        padding-bottom: 20px;
        padding-right: 15px;
    }
    .table-head {
        justify-content: space-between;
        font: 400 10px/30px 'Roboto', arial, helvetica, sans-serif;
    }
    .table-head__product {
        margin-right: 34%;
    }
    .table-head__quantity {
        margin-right: 15%;
    }
    .table-head__price {
        margin-right: 8%;
    }
    .product-1,
    .product-2 {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .product-1__img,
    .product-2__img {
        margin-right: 64%;
    }
    .product-1__link,
    .product-2__link {
        max-width: 90px;
        margin-right: 20%;
        margin-bottom: 20px;
        text-align: center;
    }
    .product-1__price,
    .product-2__price {
        padding: 15px 38px 0 0;
    }
    .delivery__price {
        margin-right: 59px;
    }
    .payment__price {
        margin-right: 10px;
    }
    .table-footer {
        justify-content: center;
        flex-direction: column;
    }
    .auto-text {
        background: no-repeat left 22px top 22px url(img/delivery.svg);
        padding: 14px 0 0 74px;
    }
    .bonus-sms {
        margin-right: 30px;
    }
    .footer-up {
        flex-direction: column;
    }
    .footer-up__logo {
        margin: auto;
    }
    .link {
        justify-content: center;
        padding-left: 0;
    }
    .nets {
        width: 185px;
    }
    .footer-text__container {
        width: 91vw;
    }
}

@media (max-width: 430px) {
    .logo {
        margin-right: 17vw;
    }
    .table-head {
        justify-content: start;
    }
    .table-head__product {
        margin-right: 28%;
    }
    .table-head__quantity {
        margin-right: 27px;
    }
    .table-head__price {
        margin-right: 0;
    }
    .product-1,
    .product-2 {
        justify-content: start;
    }
    .product-1__link,
    .product-2__link {
        text-align: center;
        padding: 11px 0 0 0;
        margin-right: 20%;
    }
    .product-1__price,
    .product-2__price {
        padding: 15px 0 0 0;
    }
    .delivery {
        justify-content: start;
    }
    .delivery__text {
        margin-right: 37%;
    }
    .delivery__price {
        margin-right: 0;
    }
    .payment {
        justify-content: start;
        font: 700 14px/25px 'verdanabold', arial, helvetica, sans-serif;
    }
    .payment__text {
        margin-right: 35%;
    }
    .payment__price {
        margin-right: 0;
    }
    .footer-up__logo {
        margin: 0;
    }
    .link {
        justify-content: start;
        padding-left: 0;
    }
    .link__clock,
    .link__price,
    .link__place,
    .link__bonus {
        background-size: 50%;
    }
}